body 
{
    background-size: 100% auto;
    background-color: #1b2125;
    background-image: url(../images/sky.jpg);
    background-blend-mode: lighten;
}

#title 
{
    font-size: 70px;
    text-shadow: 2px 2px 2px #118ab2;
    text-align: center;
    font-family: 'Ubuntu';
    color: #d9ed92;
}

h1{
    display: inline;
}

header{
    font-family: 'Ubuntu';
    font-size: 25px;
    text-align: center;
    color: #d9ed92;
}

a{
    font-family: 'Ubuntu';
    color: aqua;
    text-shadow: 2px 2px 2px #184e77;
}
a:hover{
    color:#1a759f;
}
.editCancelPair
{
    display: flex;
    align-items: center;
}

.editButton
{
    margin: 4px;
    background-image: url("../images/edit.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: bold;
    width: 40px;
    height: 40px;
    padding: 7px;
    border-radius: 5px;
}

.cancelSavePair
{
    display: flex;
    align-items: center;
}
.cancelButton
{
    font-size: 20px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    padding: 7px;
    border-radius: 5px;
}
.removeButton
{
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 7px;
    border-radius: 5px;
    
    color:#420b0b;
    background-color: #c76b6b;
}
.saveButton
{
    background-image:url(../images/check.png);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    padding: 7px;
    border-radius: 5px;
    color: #0a3b0c;
    background-color: #80d67c;
}
.editButton:hover, .cancelButton:hover, .removeButton:hover, .saveButton:hover
{
    background-color: #4d4d4d;
}

#loginDiv
{
    width: 20%;
    font-size: 20px;
    margin: auto;
    margin-top: 5%;
    padding: 25px;
    background-color: rgba(41, 131, 38, 0.1);
    border-radius: 100px;
    text-align: center;
    box-shadow: 0 10px 15px #52b69a, 0 20px 50px #52b69a;
}
.createContactsDiv
{
    width: 20%;
    font-size: 20px;
    margin-top: 2%;
    margin-left: 5%;
    padding: 25px;
    background-color: rgba(41, 131, 38, 0.1);
    border-radius: 100px;
    text-align: center;
    box-shadow: 0 0px 5px #52b69a, 0 5px 50px #52b69a;
    backdrop-filter: blur(5px);
    position: fixed;
    left: 60%;
}

#registerDiv
{
    width: 20%;
    font-size: 20px;
    margin: auto;
    margin-top: 5%;
    padding: 25px;
    background-color: rgba(41, 131, 38, 0.1);
    border-radius: 100px;
    text-align: center;
    box-shadow: 0 10px 15px #52b69a, 0 20px 50px #52b69a;
}

#loggedInDiv
{
    font-size: 30px;
    width: 30%;
    margin-left: 15%;
    padding: 20px;
    backdrop-filter: blur(5px);
}

#accessUIDiv
{
    width: 50%;
    font-size: 20px;
    margin-left: 7%;
    margin-top: 3%;
    padding: 10px;
    background-color: rgba(41, 131, 38, 0.1);
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0px 5px #52b69a, 0 5px 50px #52b69a;
    backdrop-filter: blur(5px);
    vertical-align: top;
}

.buttons
{
    font-size: 30px;
    width: 50%;
    font-family: 'Ubuntu';
    background-color: #b5e48c;
    color: #184e77;
}

.buttons:hover{
    background-color: #184e77;
    color: #99d98c;
    opacity: 50%;
}

#registerUsername
{
    width: 250px;
	font-size: 20px;
    text-align: left;
    padding-left: 10px;
    background-color: rgba(41, 131, 38, 0.1);
    color: #b5e48c;
}
#registerPassword{
    width: 250px;
	font-size: 20px;
    text-align: left;
    padding-left: 10px;
    background-color: rgba(41, 131, 38, 0.1);
    color: #b5e48c;
}
#registerFirstName{
    width: 250px;
	font-size: 20px;
    text-align: left;
    padding-left: 10px;
    background-color: rgba(41, 131, 38, 0.1);
    color: #b5e48c;
}
#registerLastName{
    width: 250px;
	font-size: 20px;
    text-align: left;
    padding-left: 10px;
    background-color: rgba(41, 131, 38, 0.1);
    color: #b5e48c;
}
#loginName
{
    width: 250px;
	font-size: 20px;
    text-align: left;
    padding-left: 10px;
    background-color: rgba(41, 131, 38, 0.1);
    color: #b5e48c;
}
#loginPassword
{
    width: 250px;
	font-size: 20px;
    text-align: left;
    padding-left: 10px;
    background-color: rgba(41, 131, 38, 0.1);
    color: #b5e48c;
}
.bInputs
{
    width: 250px;
	font-size: 20px;
    text-align: left;
    padding-left: 10px;
    background-color: rgba(41, 131, 38, 0.1);
    color: #b5e48c;
}
.contactInputs
{
    width: 250px;
	font-size: 20px;
    text-align: left;
    padding-left: 10px;
    background-color: rgba(41, 131, 38, 0.1);
    color: #b5e48c;
    margin: 3%;
}
#saveContactButton
{
    display: block;
    width: 30%;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 15px;
    font-size: 25px;
    position: relative;
    left: 35%;
}
.contactsPretty
{
    color: #b5e48c;
    font-family: Ubuntu;
    margin-top: 10px;
    width: 90%;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    vertical-align: top;
}
th
{
    padding: 10px;
    padding-left: 25px;
    border: solid 1px #b5e48c;
}
td
{
    color: #f0ede1;
    padding: 10px;
    padding-left: 25px;
    border-left: solid 1px #b5e48c;
}
#searchText
{
	font-size: 20px;
}
#colorText
{
	font-size: 30px;
}

input
{
    letter-spacing: 0.10em;
    padding: 10px;
}
input[type="text"],input[type="password"],input[type="tel"],input[type="email"] 
{
    border-radius: 25px;
    margin-bottom: 2%;
    font-family: 'Ubuntu';
}

#inner-title{
    display: inline-block;
    font-size: 30px;
    width: 90%;
    text-align: center;
    margin-bottom: 6%;
    font-family: 'Ubuntu';
    color: #d9ed92;;
}
#inner-title2{
    display: inline-block;
    font-size: 30px;
    width: 90%;
    text-align: center;
    margin-bottom: 6%;
    font-family: 'Ubuntu';
    color: #d9ed92;;
}
.newContactTitle
{
    display: inline-block;
    font-size: 30px;
    width: 90%;
    text-align: center;
    font-family: 'Ubuntu';
    color: #d9ed92;
    text-shadow: 2px 2px 2px #184e77;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu';
    color: #95060a;
}
.beforeUserName
{
    display: inline;
    width: 80%;
    margin-left: 10%;
    font-size: 30px;
    text-align: center;
    font-family: 'Ubuntu';
    color: #d9ed92;
}
#userName{
    display: inline;
    width: 80%;
    font-size: 30px;
    font-family: 'Ubuntu';
    color: #d9ed92;
}
#searchContactsButton{
    padding: 10px;
    border-radius: 15px;
    font-size: 25px;
    width: 30%;
}
#logoutButton{
    width: 30%;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    background-color:rgb(226, 235, 243);
    color: #c76b6b;
    position: relative;
    left:70px;

    -webkit-text-stroke: 1px #c41d34;
}
#loginButton{
    width: 40%;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 15px;
    font-size: 25px;
}
#registerButton{
    width: 40%;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 15px;
    font-size: 25px;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu';
}

#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu';
    color: #95060a;
}
