body 
{
    background-color: #1b2125;
    background-image: url(../images/sky.jpg);
    background-blend-mode: lighten;
}

#title 
{
    font-size: 70px;
    text-shadow: 2px 2px 2px #118ab2;
    text-align: center;
    font-family: 'Ubuntu';
    color: #d9ed92;
}

h1{
    display: inline;
}

header{
    font-family: 'Ubuntu';
    font-size: 25px;
    text-align: center;
    color: #d9ed92;
}

a{
    font-family: 'Ubuntu';
    color: aqua;
    text-shadow: 2px 2px 2px #184e77;
}
a:hover{
    color:#1a759f;
}

#loginDiv
{
    width: 20%;
    font-size: 20px;
    margin: auto;
    margin-top: 5%;
    padding: 25px;
    background-color: rgba(41, 131, 38, 0.1);
    border-radius: 100px;
    text-align: center;
    box-shadow: 0 10px 15px #52b69a, 0 20px 50px #52b69a;
}

#registerDiv
{
    width: 20%;
    font-size: 20px;
    margin: auto;
    margin-top: 5%;
    padding: 25px;
    background-color: rgba(41, 131, 38, 0.1);
    border-radius: 100px;
    text-align: center;
    box-shadow: 0 10px 15px #52b69a, 0 20px 50px #52b69a;
}

#loggedInDiv
{
    font-size: 30px;
    width: 50%;
    margin-left: 15%;
    padding: 25px;
    background-color: #99d98c;
    box-shadow: 2px 2px 2px #99d98c;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

.buttons
{
    font-size: 30px;
    width: 50%;
    font-family: 'Ubuntu';
    background-color: #b5e48c;
    color: #184e77;
}

.buttons:hover{
    background-color: #184e77;
    color: #99d98c;
    opacity: 50%;
}

#registerUsername
{
    width: 250px;
	font-size: 20px;
    text-align: left;
    padding-left: 10px;
    background-color: rgba(41, 131, 38, 0.1);
    color: #b5e48c;
}
#registerPassword{
    width: 250px;
	font-size: 20px;
    text-align: left;
    padding-left: 10px;
    background-color: rgba(41, 131, 38, 0.1);
    color: #b5e48c;
}
#registerFirstName{
    width: 250px;
	font-size: 20px;
    text-align: left;
    padding-left: 10px;
    background-color: rgba(41, 131, 38, 0.1);
    color: #b5e48c;
}
#registerLastName{
    width: 250px;
	font-size: 20px;
    text-align: left;
    padding-left: 10px;
    background-color: rgba(41, 131, 38, 0.1);
    color: #b5e48c;
}
#loginName
{
    width: 250px;
	font-size: 20px;
    text-align: left;
    padding-left: 10px;
    background-color: rgba(41, 131, 38, 0.1);
    color: #b5e48c;
}
#loginPassword
{
    width: 250px;
	font-size: 20px;
    text-align: left;
    padding-left: 10px;
    background-color: rgba(41, 131, 38, 0.1);
    color: #b5e48c;
}
#searchText
{
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
}

input{
    letter-spacing: 0.10em;
    padding: 10px;
}
input[type="text"],input[type="password"]{
    border-radius: 25px;
    margin-bottom: 2%;
    font-family: 'Ubuntu';
}

#inner-title{
    display: inline-block;
    font-size: 30px;
    width: 90%;
    text-align: center;
    margin-bottom: 6%;
    font-family: 'Ubuntu';
    color: #d9ed92;;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu';
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
}
#loginButton{
    width: 40%;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 15px;
    font-size: 25px;
}
#registerButton{
    width: 40%;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 15px;
    font-size: 25px;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu';
}

#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu';
    color: #95060a;
}
